---
interface Props {
  imageUrl: string;
  title: string;
  articleDate: string;
  tags: string[];
  slug: string
}

const { imageUrl, title, articleDate, tags, slug } = Astro.props
---

<div class="max-w-md mx-auto mt-10">
  <div class="bg-white rounded-lg overflow-hidden shadow-lg">
    <a href={`/articles/${slug}`}>
      <img
        src={`/images/${imageUrl}`}
        alt="Article Image"
        class="w-full h-48 object-cover hover:opacity-75 transition duration-300 ease-in-out"
      />
    </a>
    <div class="p-6">
      <h2 class="text-2xl font-semibold mb-2">
        <a href="article.html"> {` ${title} `} </a>
      </h2>
      <p class="text-gray-600 text-sm mb-4">{articleDate}</p>
      <div class="flex flex-wrap gap-2">
        {tags.map((t: string, i: number) => (
          <span class={
            i % 2 === 0 ?
            "px-2 py-1 bg-green-500 text-white rounded-full text-xs hover:opacity-90"
            : "px-2 py-1 bg-indigo-500 text-white rounded-full text-xs hover:opacity-90"
          }>
          <a href={`/articles/tag/${t}`}>{t}</a>
        </span>
        ))}
      </div>
    </div>
  </div>
</div>
